body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color:  #457B9D;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 15px 0 5px;
}

select, input[type="radio"] {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
            display: flex; /* Use flexbox to arrange items inline */
            gap: 10px; /* Space between options */
        }
.checkbox-group {
            margin-top: 10px; /* Space between radio and checkbox groups */
        }
button {
    background-color:  #457B9D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    color:  #457B9D;
}
