body {
    font-family: Arial, sans-serif;
    background-color: #F1FAEE;
    color: #1D3557;
    margin-top: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: #E63946;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table thead tr {
    background-color: #457B9D;
    color: #F1FAEE;
    text-align: center;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #A8DADC;
}

table tbody tr:nth-of-type(even) {
    background-color: #A8DADC;
}

table tbody tr:nth-of-type(odd) {
    background-color: #F1FAEE;
}

table tbody tr:hover {
    background-color: #457B9D;
    color: #F1FAEE;
}

.delete-button {
    background-color: #E63946;
    color: #F1FAEE;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #D62839;
}

.delete-button:focus {
    outline: none;
}

.edit-button {
    background-color: #3498db; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #2980b9; 
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px; /* Optional: space above the button */
}

button, a {
    background-color: #457B9D;
    color: #F1FAEE;
    border: none;
    padding: 10px 15px; /* Adjusted padding for a smaller button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex; /* Inline-flex to only take up the required space */
    justify-content: center;
    align-items: center;
    width: auto; /* Width adapts to the button content */
}

a {
    margin-top: 20px;
    text-decoration: none;
    width: auto; /* Ensures the link doesn't expand unnecessarily */
}

button:hover {
    background-color: #1D3557;
}

.search-form {
    background-color: #F1FAEE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
	margin-top: 50px;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #457B9D;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

.search-form input[type="text"]:focus {
    border-color: #E63946;
    outline: none;
}

.search-form input[type="submit"] {
    padding: 10px 15px;
    background-color: #457B9D;
    color: #F1FAEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form input[type="submit"]:hover {
    background-color: #1D3557;
}


