body {
           display: flex;
           justify-content: center;
           align-items: center;
           min-height: 100vh;
           margin: 0;
           background-color: #f4f4f4;
           padding: 20px;
           box-sizing: border-box;
       }
       form {
           text-align: center;
           background-color: white;
           padding: 20px;
           border-radius: 5px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           width: 100%;
           max-width: 300px;
           box-sizing: border-box;
       }
       .profile-icon {
           width: 50px;
           height: 50px;
           margin-bottom: 20px; /* Space below the icon */
       }
       input, button {
           width: calc(100% - 20px);
           padding: 10px;
           margin-bottom: 10px;
           border: 1px solid #ccc;
           border-radius: 3px;
       }
       button {
           background-color: #457B9D;
           color: white;
           border: none;
           cursor: pointer;
       }
       button:hover {
           background-color : #457B9D ;
       }
       p {
           margin-top: 15px;
       }
	   .login-title {
	       color: #457B9D;
	   }

	   .input-field {
	       width: 100%;
	       padding: 10px;
	       margin: 5px 0;
	       box-sizing: border-box;
	       border: 1px solid #ccc;
	       border-radius: 4px;
	   }

	   .password-container {
	       position: relative;
	       display: inline-block;
	       width: 100%;
	   }

	   .eye-icon {
	       cursor: pointer;
	       position: absolute;
	       right: 10px;
	       top: 50%;
	       transform: translateY(-50%);
	   }



	   