body {
    font-family: Arial, sans-serif;
    background-color: #F1FAEE;
    color: #1D3557;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: #E63946;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table thead tr {
    background-color: #457B9D;
    color: #F1FAEE;
    text-align: center;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #A8DADC;
}

table tbody tr:nth-of-type(even) {
    background-color: #A8DADC;
}

table tbody tr:nth-of-type(odd) {
    background-color: #F1FAEE;
}

table tbody tr:hover {
    background-color: #457B9D;
    color: #F1FAEE;
}

input[type="submit"], a {
    background-color: #E63946;
    color: #F1FAEE;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #D62839;
}

input[type="submit"]:focus {
    outline: none;
}
a{
	text-decoration: none;
}
